.sec-page{
    display: flex;
    justify-content: space-around;
}

.div-table
{
    width: 700px;
    text-align: center;
}

.div-form{
    width: 500px;
}

ul{
    list-style: none;
}

html,
body {
    background-color: #343434 !important;
}

.mb-3{
    color: #fff!important;
}

.container-principal{
    margin-top: 10%;
}

#table tr.Feito td {
    background-color: rgb(95, 12, 12);
}

#table td {
    cursor: pointer;
}

.a-nav{
    color: #fff;
    font-weight: bolder;
    
}